[Unit]
Description=XMRig container
After=local-fs.target xmrig-tor.container
Requires=xmrig-tor.container
BindsTo=xmrig-tor.container

[Container]
ContainerName=xmrig
Image=xmrig.build
AutoUpdate=local
HostName=xmrig
AddHost=xmrig-tor:10.1.1.10
AddHost=xmrig:10.1.1.20
Network=xmrig-tor-internal.network:ip=10.1.1.20
SecurityLabelDisable=true
Volume=/etc/xmrig/config.json:/app/config.json:rw

# hugepages
Volume=/dev/hugepages:/dev/hugepages:rw
Volume=/proc/sys/vm:/proc/sys/vm:rw
Volume=/sys/devices/system/node:/sys/devices/system/node:rw
Volume=/sys/kernel/mm/hugepages:/sys/kernel/mm/hugepages:rw

# msr mod
AddCapability=CAP_SYS_RAWIO
AddDevice=/dev/cpu
Volume=/sys/module/msr/parameters/allow_writes:/sys/module/msr/parameters/allow_writes:rw

[Service]
Restart=on-failure
RestartSec=1m
ExecStartPre=/bin/sh -c "while ! /bin/podman healthcheck run xmrig-tor; do sleep 10; done"
TimeoutStartSec=5m

[Install]
WantedBy=default.target
