[Unit]
Description=xmrig-tor container
After=local-fs.target network-online.target
PartOf=xmrig.container

[Container]
ContainerName=xmrig-tor
Image=tor.build
AutoUpdate=local
# Container CMD
Exec=--SocksPort xmrig-tor:9050

# Resources
DropCapability=all
NoNewPrivileges=true
PodmanArgs=--cpus=1 --cpu-shares=1 --memory=256m --memory-swap=256m

# Network
HostName=xmrig-tor
AddHost=xmrig-tor:10.1.1.10
AddHost=xmrig:10.1.1.20
Network=xmrig-tor-internal.network:ip=10.1.1.10
Network=xmrig-tor-external.network

# Healthcheck
HealthCmd=curl -sSLx socks5h://xmrig-tor:9050 'https://check.torproject.org/api/ip' | grep -qE '"IsTor"\s*:\s*true'
HealthTimeout=5s
HealthInterval=1m
HealthRetries=5
HealthOnFailure=restart

[Service]
RestartSec=1m
TimeoutStartSec=5m

[Install]
WantedBy=default.target